$magenta-color: #e20074;
$bggray: #ededed;
$darktext: #383838;





html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}


// FONTS
@font-face{
  font-family:'TeleIconUi';
  src:url("/fonts/teleicon-ui.eot");
  src:url("/fonts/teleicon-ui.eot?#iefix") format("embedded-opentype"),url("/fonts/teleicon-ui.woff") format("woff"),url("/fonts/teleicon-ui.ttf") format("truetype"),url("/fonts/teleicon-ui.svg#teleicon-ui") format("svg");
  font-weight:normal;
  font-style:normal
}
@media screen and (-webkit-min-device-pixel-ratio: 0){
  @font-face{
    font-family:'TeleIconUi';
    src:url("/fonts/teleicon-ui.svg#teleicon-ui") format("svg")
  }
}
@font-face{
  font-family:"TeleGrotesk";
  font-style:normal;
  font-weight:400;
  src:url("/fonts/telegrotesk-normal.eot?#iefix");
  src:url("/fonts/telegrotesk-normal.eot?#iefix") format("eot"),url("/fonts/telegrotesk-normal.woff") format("woff"),url("/fonts/telegrotesk-normal.ttf") format("truetype"),url("/fonts/telegrotesk-normal.svg#telegrotesk-normal") format("svg")
}
@font-face{
  font-family:"TeleGrotesk";
  font-style:normal;
  font-weight:600;
  src:url("/fonts/telegrotesk-halbfett.eot?#iefix");
  src:url("/fonts/telegrotesk-halbfett.eot?#iefix") format("eot"),url("/fonts/telegrotesk-halbfett.woff") format("woff"),url("/fonts/telegrotesk-halbfett.ttf") format("truetype"),url("/fonts/telegrotesk-halbfett.svg#telegrotesk-halbfett") format("svg")
}
@font-face{
  font-family:"TeleGrotesk";
  font-style:normal;
  font-weight:700;
  src:url("/fonts/telegrotesk-fett.eot?#iefix");
  src:url("/fonts/telegrotesk-fett.eot?#iefix") format("eot"),url("/fonts/telegrotesk-fett.woff") format("woff"),url("/fonts/telegrotesk-fett.ttf") format("truetype"),url("/fonts/telegrotesk-fett.svg#telegrotesk-fett") format("svg")
}
@font-face{
  font-family:"TeleGroteskScreen";
  font-style:normal;
  font-weight:800;
  src:url("/fonts/telegrotesk-ultra.eot?#iefix");
  src:url("/fonts/telegrotesk-ultra.eot?#iefix") format("eot"),url("/fonts/telegrotesk-ultra.woff") format("woff"),url("/fonts/telegrotesk-ultra.ttf") format("truetype"),url("/fonts/telegrotesk-ultra.svg#telegrotesk-ultra") format("svg")
}



#broadband-chart-mobile {
  display: inline;
  width: 100%;
  height: auto; 
  margin-bottom: 26px;
}
#broadband-chart {
  display: none;
}




body {
  margin: 0;
  padding: 0;
  //font-size: 23px;
  font-size: 100%; // ~16px
  //position: relative;
  font-family:"TeleGrotesk";
  font-weight: 400;
}
p, h2, h3, h4 {
  color: #383838;
}

header div#teaser h2 {
  letter-spacing: 0.8px;
}


// FONTS and FONT SIZES
p, ol li {
  //font-size: 23px;
  font-size: 1.4375em;  // 23 base
  line-height: 1.39em;
  letter-spacing: 0.2px;
}
h2 {
  letter-spacing: 0.5px;
}




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  
}
main {
  width: 100%;
  max-width: auto;

}
header, main, footer {
  margin: 0 auto;
  //width: 1440px;
  
  // RESPONSIVE switch :-)
  // max-width: 1440px;
  // width: auto;
}
header {
  width: 100%;
  margin-top: 56px;
}
main > section, header {
  // padding-left: 150px;
  // padding-right: 150px;
  //overflow: hidden;
}




#mobile-menu {
  //position: relative;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  min-height: 56px;
  > img {
    margin-left: 10px;
    margin-top: 10px;
    width: 64px;
    height: auto;  
  }
  #mobile-menu-toggle {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 16px;
    //width: 165px;
    //height: 56px;
    padding: 4px 8px;
    background-color: #e20074;
    //border: 1px solid #b3005c;
    text-transform: uppercase;
    font-family: TeleGrotesk;
    font-weight: 800;
    border-radius: 3px;
    color: #fff;
    text-decoration: none !important;
    //line-height: 52px;
  }
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  //width: 1140px;
  //margin-left: 10%;
  //margin-right: 10%;
  
  top: 0;
  bottom: auto;
  background-color: #fff;
  
  //width: 80%;
  //left: 50%;
  //margin-left: -570px;
  ul {
    margin: 0;
    padding-top: 26px;
    background: #fff;
    width: 100%;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 0;
    border: 1px solid transparent;
    overflow: hidden;
    display: none;
    li {
      font-family: TeleGrotesk;
      font-weight: 800;
      text-transform: uppercase;
      width: 100%;
      border: 1px solid transparent;
      margin: 0;
      a {
        display: inline-block;
        color: $darktext;
        text-decoration: none;
        font-size: 20px;
        line-height: 32px;
        width: 100%;

        text-align: center;
      }
    }
  }
}




/* Custom page header */
header  {
  background-image: url(/images/img_keyvisual_wide.jpg);
  background-repeat: no-repeat;
  -webkit-transition:background-position .1s ease-in;  
  -moz-transition:background-position .1s ease-in;  
  -o-transition:background-position .1s ease-in;  
  transition:background-position .1s ease-in; 
  //background-size: cover;
  //background-size: auto 720px;
  background-size: cover;
  //background-position: center top;
  //background-position: 60% top;
  background-position: 60% top;
  //
  height: 316px;
  position: relative;
  overflow: hidden;


  > div {
    position: relative;
    height: 100%;
    max-width: none;
    //margin-left: 10px;
    //margin-right: 10px;

    > h1 {
      display: none;
      margin: 0;
      position: absolute;
      top: 10px;
      left: 10px;
      > img {
        width: 64px;
        height: auto;  
      }
      //left: 0px;
    }
    #telekom-slogan {
      position: absolute;
      //top: 74px;
      right: 0px;
      top: 31px;
      width: 162px;
      height: auto;
      display: none;
    }

    nav {
      display: none;
    }
    div#teaser {
      //display: none;
      position: absolute;
      bottom: 115px;
      left: 0px;

      h2 {
        display: inline-block;
        background: url(/images/teaser-bg.png) top right no-repeat;
        font-family:"TeleGroteskScreen";
        font-weight:800;
        max-width: none;
        width: 115%;
        font-size: 24px;
        line-height: 22px;
        padding-top: 40px;
        padding-left: 16px;
        padding-right: 120px;
        padding-bottom: 10px;
        display: block;
        //margin-bottom: -10px;
        color: #fff;
        margin-bottom: 0;
        
        span {
          font-family:"TeleGrotesk";
          font-weight: 400;
          display: block;
          white-space: normal;
        }
      }
        
    }
  }
}


body.sticky-nav {
  header {
    display: none;
    h1 {
      position: fixed;
      //top: 5px;
      top: -41px;
      left: 50%;
      margin-left: -569px;
      z-index: 100;
      //padding-right: 1064px;
      img {
        width: 76px;
        height: 37px;
      }
    }
    nav {

      position: fixed;
      top: -56px;
      height: 60px;
      right: 0;
      //width: 1140px;
      width: 100%;
      max-width: none;
      
      display: block;
      background: none;
      background-color: rgba(255, 255, 255, 0.93);

      //@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      //border: 1px solid red;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      //background: transparent;
      .navwrap {
        width: 100%;
      }
      ul {
        //width: 1000px;
        display: block;
        position: relative;
        text-align: center;
        max-width: 1140px;
        margin: 0 auto;
        padding-left:180px;
        
        li {
          border: none;
          
          a {
            color: #383838;
            border: none;
          }
          a:hover, a:active {
            background: none;
            color: #e20074;
          }
          a.active {
            color: #e20074;
          }
        }
        li:last-child {
          
        }
      }
    }

  }

  footer {
    //border-top: 1px solid #979797;
    padding-top: 10px;
    margin-top: 50px;
    //max-width: 1140px;
    
  }
}
body.home.sticky-nav {
  main {
    //margin-top: 720px;
  }
}


body.text-only {
  header {
    height: 56px;
    background: none;
    h1 {
      position: fixed;
      top: 5px;
      left: 50%;
      margin-left: -569px;
      z-index: 100;
      //padding-right: 1064px;
      img {
        width: 76px;
        height: 37px;
      }
    }
    nav {
      position: fixed;
      top: 0px;
    }
  }
}


footer > div,
main > section > div {
  overflow: hidden;
}

main > section > div > h1 {
  color: $magenta-color;
  font-size: 34px;
  font-family:"TeleGroteskScreen";
  font-weight:800;
  line-height: 34px;
  margin-top: 49px;
  letter-spacing: 0.9px;
}
main > section  h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}
main > section > div > h1 + h2 {
  margin-top: 26px;
}
main > section > div > p + h2 {
  margin-top: 25px;
}
main > section > div > .features + h2 {
  margin-top: 87px;
}
section#overview {
  padding-top: 44px;
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 16px;
  }
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 37px;
    li {
      width: 550px;
      min-height: 102px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      
      
      

      padding-left: 50px;
      padding-bottom: 38px;
      background-image: url(/images/checkmark.svg);
      background-repeat: no-repeat;
      background-size: 40px;

      // IE hack
      *display: inline;
      _height: 102px;
      h4 {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
        padding-bottom: 14px;
      }
      p {
        margin: 0;
        //font-size: 23px;
      }
    }
    li:nth-child(odd) {
      margin-right: 32px;
    }
  }
}
main > section {



  .feature {
    padding-top: 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-height: 278px;
    margin-bottom: 60px;
    overflow: hidden;
    > div:first-child {
      img {
        width: 100%;
        height: auto;
      }
      
      
    }
    h3 {
      margin: 0;
      color: #383838;
      font-family: TeleGrotesk;
      font-size: 26px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 18px;
      margin-top: 21px;
      letter-spacing: 0.5px;
      margin-left: 16px;
      margin-right: 16px;
    }
    p {
      margin-left: 16px;
      margin-right: 16px;
      //font-size: 23px;
      line-height: 32px;
      margin-bottom: 21px;
    }
    img {
      margin-bottom: -4px;
      background-color: #ededed;
    }
  }
  .features {
    padding-top: 43px;
  }
  .feature.light {
    background: #fff;
  }
  .feature.dark {
    background-color: #ededed;
  }
  .feature.align-right {
    //padding-left: 30px;
    //padding-right: 390px;
    padding-top: 0;
    > div {
      //float:  right;
      //width: 360px;
      //margin-right: -390px; 
    }
  }
  .feature.align-left {
    //padding-right: 20px;
    padding-top: 0;
    > div {
      //float: left;
      //margin-right: 30px;
      //width: 360px;
    }
    > p, > h3 {
      //padding-left: 390px; 
    }
  }
  .feature.legal, .feature.telekom {
    > div {
      background: #ededed;
    }
  }
  
  




  .values {
    text-align: center;
    width: 100%;
    margin-top: 32px;
    
    > div {
      margin: 0 auto;
      max-width: none;
      width: auto;
      min-height: 565px;
      
      display: inline-block;
      vertical-align:top;
      img {
        width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top;
      }
      h4 {
        color: $darktext;
        font-family: TeleGrotesk;
        font-size: 26px;
        font-weight: 700;
        line-height: 27px;
        margin-top: 28px;
        margin-bottom: 16px;
        letter-spacing: 0.6px;
        text-align: left;
      }
      ul {
        //margin-bottom: 100%;
        padding-left: 20px;
        li {
          list-style-type:square;
          text-align: left;
          //list-style-position: inside;
          color: $darktext;
          font-family: TeleGrotesk;
          font-size: 23px;
          font-weight: 400;
          line-height: 32px;
          margin-bottom: 30px;
          //text-indent: -5px;
          //margin-left: -5px;
          padding-right: 20px;
          //margin-left: -9px;
        }
        
        li:last-child {
          margin-bottom: 0;
        }
        
      }
    }
    
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 0;
    }
  }
  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }
}

footer, main {
  > section {
    padding-bottom: 12px;
    width: 100%;
    padding: 0 20px;
    > div {
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
  section#overview {
    ul {
      li {
        width: 90%;
        p > br {
          display: none;
        }
      }
    }
  }
}


section#airline-benefits, section#references {
  background: $bggray;
}

section#partnering-with-dt {
  h1 > br {
    display: none;
  }
  background: #fff;
  #broadband-chart {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 47px;
  }
  ol {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    
    li::before {
      content: counter(step-counter);
      margin-right: 5px;
      font-size: 80%;
      //background-color: $magenta-color;
      padding: 2px 8px;
      background-image: url(/images/oval.svg);
      background-repeat: no-repeat;
      width: 26px;
      height: 27px;
      margin-right: 14px;
      color: white;
      font-family: TeleGroteskScreen;
      font-size: 21px;
      font-weight: 800;
      //line-height: 25px;
    }
    li {
      margin-bottom: 30px;
      counter-increment: step-counter;
      text-indent: -40px;
      padding-left: 40px;
      //padding-right: 4px;
      letter-spacing: 0.5px;
    }
  }
  .europe {
    padding-top: 60px;
    h2 {
      margin-top: 0;
    }
    p {
      padding-right: 17px;
    }
    img {
      float: none;
      width: 100%;
      height: auto;
      margin-bottom: 32px;
    }
  } 
  padding-bottom: 50px;
}


section#references {
  #airlines {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin-right: 24px;
      margin-bottom: 30px;
    }

    // li:nth-child(4n+4), li:nth-child(3n+3), li:nth-child(2n+2), li {
    //   margin-right: 0;
    // }
  }
}

section#references {
    #airlines {
      margin-top: 50px;
      li {

        display: inline-block;
        margin-right: 2.5%;
        margin-bottom: 20px;
        width: 45%;
        img {
          width: 100%;
          height: auto;
        }
      }

      li:nth-child(4n+4), li:nth-child(1n+1) {
        margin-right: 12px;
      }
      li:nth-child(2n+2) {
        margin-right: 0;
      }
    }
  }

section#contact {
  text-align: center;
  padding-bottom: 60px;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    color: #383838;
    margin-top: 0;
    margin-bottom: 32px;
    font-family: TeleGrotesk;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;

  }
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  div > a {
    display: inline-block;
    width: 165px;
    height: 56px;
    background-color: #e20074;
    border: 1px solid #b3005c;
    border-radius: 6px;
    color: #fff;
    line-height: 52px;
    font-size: 23px;
    text-decoration: none;
  }
}


section#news {
  article {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    h2 {
      color: #383838;
      font-family: TeleGrotesk;
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
      text-transform: uppercase;
      margin-top: 20px;
    }
    p {
      margin-bottom: 15px;
    }
  }
}


section.doc {
  margin-top: 93px;
}
section.doc.imprint {
  h1 {
    margin-bottom: 90px;
  }
  article {
    width: 550px;
    display: inline-block;
    height: 345px;
    vertical-align: top;
      zoom: 1;
    p {

    }
  }
}


/* Custom page footer */
footer {
  padding: 0 40px;
  > div {
    border-top: 1px solid #979797;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  
    
    //max-width: 1140px;
    
    font-size: 17px;
    line-height: 25px;  
  }
  #meta {
    float: left;
    margin-top: 10px;
  }
  #other-links {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
  }
  #copyright {
    float: right;
    margin-top: 10px;
    font-size: 17px;
  }
}





// Media Queries


/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


/**
 * 16.0 Mobile InBetween 540px
 */
@media screen and (min-width: 25em) {
//@media screen and (min-width: 33.75em) {
  header {
    height: 416px;
    > div {
      
      > h1 {
        
      }
      #telekom-slogan {
        
      }
       div#teaser {
        h2 {
          
        }
      }
    }
  }
  
}

/**
 * 16.1 Mobile Large 620px
 */

@media screen and (min-width: 38.75em) {
  p, ol li {
    //font-size: 23px;
    font-size: 1.25em;  // 23 base
    line-height: 32px;
    letter-spacing: 0.2px;
  }
  
  header {
    
    > div {
      
      > h1 {
        
      }
      #telekom-slogan {
        
      }
      div#teaser {
        h2 {
          max-width: none;
          width: 115%;
          font-size: 30px;
          line-height: 27px;
          padding-top: 40px;
          padding-left: 20px;
          padding-right: 120px;
          padding-bottom: 10px;
          display: block;
        }
      }
    }
  }
  main > section {

  }
  main > section > div > h1 {
    color: $magenta-color;
    font-size: 40px;
    font-family:"TeleGroteskScreen";
    font-weight:800;
    line-height: 40px;
    margin-top: 49px;
    letter-spacing: 0.9px;
  }
  section#overview {
    ul {

      li {
        padding-left: 80px;
        padding-bottom: 38px;
        background-image: url(/images/checkmark.svg);
        background-repeat: no-repeat;
        background-size: 63px 58px;
      }
    }
  }
  section#partnering-with-dt {
    h1 > br {
      display: inline;
    }
  }
}


/**
 * 16.2 Tablet Small 740px
 */

@media screen and (min-width: 46.25em) {
  header {
    margin-top: 0;
  }
  body.sticky-nav {
    header {
      display: block;
    }
  }
  body.sticky-nav header > div > h1 {
    left: 40px;
    margin-left: 0;
  }
  body.sticky-nav header > div nav ul li {
    width: auto;
    margin-right: 6%;
  }
  // p, ol li {
  //   //font-size: 23px;
  //   font-size: 1.4375em;  // 23 base
  //   line-height: 1.39em;
  //   letter-spacing: 0.2px;
  // }
  #mobile-menu {
    display: none;
  }
  header {
    height: 480px;
    background-position: center top;
    > div {
      margin-left: 20px;
      margin-right: 20px;
      > h1 {
        display: inline-block;
        top: 20px;
        left: 0;
        img {
          width: 94px;
        }
      }
      #telekom-slogan {
        top: 46px;
        display: inline;
      }
      nav {
        #mobile-menu-toggle { display: none; }
        display: block;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #ededed;
        border: 1px solid #d0d0d0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        position: absolute;
        top: auto;
        bottom: 30px;
        width: 100%;
        max-width: 1140px;
        ul {
          display: block;
          list-style: none;
          overflow: hidden;
          margin: 0;
          padding: 0;
          
          li {
            display: inline-block;
            float: left;
            text-transform: none;
            text-align: center;
            margin-left: auto ;
            margin-right: auto ;
            border-right: 1px solid #d0d0d0;
            width: 19.5%;
            width: calc(100% / 5);
            height: 48px;
            a {
              text-decoration: none;
              color: #4b4b4b;
              font-family: TeleGrotesk;
              font-size: 18px;
              font-weight: 400;
              line-height: 50px;
              display: block;
            }
            a:link, a:visited {
              text-decoration: none;
            }
            a:hover, a:active {
              //color: $magenta-color;
              text-decoration: none;
              color: #383838;
              background-color: #dbdbdb;
              border-color: #a0a0a0;
            }
          }
          li:last-child {
            border: none;
          }
        }
      }
      div#teaser {
        h2 {
          background-size: 830px;
          max-width: 480px;
          font-size: 30px;
          line-height: 27px;
          padding-top: 30px;
          padding-left: 12px;
          padding-right: 55px;
          padding-bottom: 10px;
        }
      }
    }
  }
  main {
    
    section#overview {
      padding-top: 84px;
      ul {
        li {
          width: 45%;
        }
      }
    }
  }
  main > section {
    .feature {
      padding-top: 0px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      min-height: 278px;
      margin-bottom: 60px;
      overflow: hidden;
      > div:first-child {
        height: 100%;
        background:  #d0d0d0;
        overflow: hidden;
        padding-bottom: 99999px;
        margin-bottom: -99999px;
      }
      h3 {
        margin: 0;
        color: #383838;
        font-family: TeleGrotesk;
        font-size: 26px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 18px;
        margin-top: 21px;
        letter-spacing: 0.5px;
      }
      p {
        margin: 0;
        //font-size: 23px;
        line-height: 32px;
        margin-bottom: 21px;
      }
      img {
        margin-bottom: -4px;
      }
    }
    .features {
      padding-top: 43px;
    }
    .feature.light {
      background: #fff;
    }
    .feature.dark {
      background-color: #ededed;
    }
    .feature.align-right {
      padding-left: 30px;
      padding-right: 390px;
      padding-top: 0;
      > div {
        float:  right;
        width: 360px;
        margin-right: -390px; 
      }
    }
    .feature.align-left {
      padding-right: 20px;
      padding-top: 0;
      > div {
        float: left;
        margin-right: 30px;
        width: 360px;
      }
      > p, > h3 {
        padding-left: 390px; 
      }
    }
    .feature.legal, .feature.telekom {
      > div {
        background: #ededed;
      }
    }




    .values {
      text-align: justify;
      width: 100%;
      margin-top: 32px;
      
      > div {
        margin: 0 auto;
        max-width: 360px;
        width: 30%;
        min-height: 565px;
        
        display: inline-block;
        vertical-align:top;
        img {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          height: auto;
        }
        ul {
          li {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 16px;
          }
        }
      }
    }
  
  }
  section#partnering-with-dt {
    .europe {
      img {
        float: left;
        
      }
    }
  }
  section#references {
    #airlines {
      margin-top: 50px;
      li {

        display: inline-block;
        margin-right: 24px;
        margin-bottom: 30px;
        width: 30%;
        img {
          width: 100%;
          height: auto;
        }
      }
      li:nth-child(1n+1) {
        margin-right: 24px;
      }
      li:nth-child(2n+2) {
        margin-right: 24px;
      }
      li:nth-child(4n+4) {
        margin-right: 24px;
      }
      li:nth-child(3n+3) {
        margin-right: 0;
      }
      li:last-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  section#partnering-with-dt {
    .europe {
      img {
        width: 50%;
        height: auto;
        margin: 0;
        float: left;
        margin-right: 32px; 
      }
    }
  }

   
}


/**
 * 16.3 Tablet Large 880px
 */

@media screen and (min-width: 55em) {
  #broadband-chart-mobile {
    display: none;
  
  }
  #broadband-chart {
    display: inline;
  }

  header {
    height: 550px;
    > div {
      margin-left: 30px;
      margin-right: 30px;
      > h1 {
        top: 28px;
        
        
      }
      #telekom-slogan {
        top: 54px;
        
      }
      nav {
        ul {
          li {
            height: 54px;
            a {
              text-decoration: none;
              color: #4b4b4b;
              font-family: TeleGrotesk;
              font-size: 21px;
              font-weight: 400;
              line-height: 57px;
              display: block;
            }
          }
        }
      }
      div#teaser {
        h2 {
          background-size: auto;
          max-width: 660px;
          font-size: 40px;
          line-height: 37px;
          padding-top: 42px;
          padding-left: 28px;
          padding-right: 65px;
          padding-bottom: 13px;
        }
      }
      
    }

  }

  
  
 
}
  



/**
 * 16.4 Desktop Small 955px
 */

@media screen and (min-width: 59.6875em) {
  main {
    > section {

    }
    section#overview {
      ul {
        li {
          
        }
      }
    }
  }

  section#partnering-with-dt {
    background: #fff;
    #broadband-chart {
      width: 100%;
      height: auto;
      margin-top: 40px;
      margin-bottom: 47px;
    }
    ol {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      //-webkit-margin-before: 0;
      //-webkit-margin-after: 0;
      column-count: 2;
      column-gap: 20px;
      list-style-type: none;
      padding: 0;
    }
  }
  section#contact {
  
    img {
      width: 30%;
      height: auto;
    }
  }
  
}


/**
 * 16.5 Desktop Medium 1100px
 */

@media screen and (min-width: 68.75em) {
 
  header {
    height: 640px;
    > div {
      margin-left: 40px;
      margin-right: 40px;
      > h1 {
        top: 40px;
        > img {
          width: 117px;
          height: auto;  
        }
      }
      #telekom-slogan {
        top: 74px;
        width: 202px;
        height: auto;
      }
      
    }
  }
  
  body.sticky-nav header nav ul {
    padding-left: 140px;
    padding-right: 40px;
  }
  section#references {
  #airlines {
    margin-top: 50px;
    text-align: left;

    li {
      width: 22%;
      display: inline-block;
      margin-right: 24px;
      margin-bottom: 30px;
    }
    li:nth-child(1n+1) {
      margin-right: 24px;
    }
    li:nth-child(2n+2) {
      margin-right: 24px;
    }
    li:nth-child(3n+3) {
      margin-right: 24px;
    }
    li:nth-child(4n+4) {
      margin-right: 0;
    }
  }
  section#partnering-with-dt {
    .europe {
      img {
        float: left;
        width: auto;
        height: auto;
      }
    }
  }


 

  
}


/**
 * 16.6 Desktop Large 1240px
 */

@media screen and (min-width: 77.5em) {
  p, ol li {
    //font-size: 23px;
    font-size: 1.4375em;  // 23 base
    line-height: 1.39em;
    letter-spacing: 0.2px;
  }
  main > section > div > h1 {
    font-size: 48px;
    line-height: 51px;
    margin-top: 49px;
  }
  main > section > div > h1 + h2 {
    margin-top: 76px;
  }
  main > section > div > p + h2 {
    margin-top: 75px;
}
  header {
    height: 720px;
    > div {
      width: 1140px;
      height: 720px;
      margin: 0 auto;
      > h1 {
        margin: 0;
        position: absolute;
        top: 50px;
        left: 0px;
      }
      #telekom-slogan {
        position: absolute;
        top: 74px;
        right: 0px;
      }
      div#teaser {
        h2 {
          padding-top: 52px;
          padding-left: 28px;
          padding-right: 85px;
          padding-bottom: 43px;
          font-size: 44px;
          line-height: 43px;
          
        }
      }
    }
    
  }
  main {
    > section {
      padding-bottom: 12px;
      width: 100%;
      > div {
        max-width: 1140px;
        width: 1140px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
  main > section > div {
    
  }
  main > section {
    .feature {
      padding-top: 21px;
      min-height: 278px;
      height: auto;
      padding-bottom: 0;
    }
    .feature.align-right {
      p {
        margin-right: 0px;
      }
    }
    .feature.align-left {
      p {
        margin-left: 0px;
      }
    }
    .values {
      text-align: justify;
      width: 100%;
      margin-top: 32px;
      
      > div {
        margin: 0 auto;
        max-width: 360px;
        width: auto;
        min-height: 565px;
        
        display: inline-block;
        vertical-align:top;
        img {
          display: inline-block;
          vertical-align: top;
        }
         ul {
          li {
            font-size: 23px;
            line-height: 32px;
            margin-bottom: 30px;
          }
        }
      }
    }
  
  }
  
}

  
}


/**
 * 16.7 Desktop X-Large 1403px
 */

@media screen and (min-width: 87.6875em) {
  
}


/**
 * 17.0 Print
 */

@media print {
  body {
    background: none !important; /* Brute force since user agents all print differently. */
    font-size: 11.25pt;
  }

  
}










