$magenta-color: #e20074;
$bggray: #ededed;
$darktext: #383838;





html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}


// FONTS
@font-face{
  font-family:'TeleIconUi';
  src:url("/fonts/teleicon-ui.eot");
  src:url("/fonts/teleicon-ui.eot?#iefix") format("embedded-opentype"),url("/fonts/teleicon-ui.woff") format("woff"),url("/fonts/teleicon-ui.ttf") format("truetype"),url("/fonts/teleicon-ui.svg#teleicon-ui") format("svg");
  font-weight:normal;
  font-style:normal
}
@media screen and (-webkit-min-device-pixel-ratio: 0){
  @font-face{
    font-family:'TeleIconUi';
    src:url("/fonts/teleicon-ui.svg#teleicon-ui") format("svg")
  }
}
@font-face{
  font-family:"TeleGrotesk";
  font-style:normal;
  font-weight:400;
  src:url("/fonts/telegrotesk-normal.eot?#iefix");
  src:url("/fonts/telegrotesk-normal.eot?#iefix") format("eot"),url("/fonts/telegrotesk-normal.woff") format("woff"),url("/fonts/telegrotesk-normal.ttf") format("truetype"),url("/fonts/telegrotesk-normal.svg#telegrotesk-normal") format("svg")
}
@font-face{
  font-family:"TeleGrotesk";
  font-style:normal;
  font-weight:600;
  src:url("/fonts/telegrotesk-halbfett.eot?#iefix");
  src:url("/fonts/telegrotesk-halbfett.eot?#iefix") format("eot"),url("/fonts/telegrotesk-halbfett.woff") format("woff"),url("/fonts/telegrotesk-halbfett.ttf") format("truetype"),url("/fonts/telegrotesk-halbfett.svg#telegrotesk-halbfett") format("svg")
}
@font-face{
  font-family:"TeleGrotesk";
  font-style:normal;
  font-weight:700;
  src:url("/fonts/telegrotesk-fett.eot?#iefix");
  src:url("/fonts/telegrotesk-fett.eot?#iefix") format("eot"),url("/fonts/telegrotesk-fett.woff") format("woff"),url("/fonts/telegrotesk-fett.ttf") format("truetype"),url("/fonts/telegrotesk-fett.svg#telegrotesk-fett") format("svg")
}
@font-face{
  font-family:"TeleGroteskScreen";
  font-style:normal;
  font-weight:800;
  src:url("/fonts/telegrotesk-ultra.eot?#iefix");
  src:url("/fonts/telegrotesk-ultra.eot?#iefix") format("eot"),url("/fonts/telegrotesk-ultra.woff") format("woff"),url("/fonts/telegrotesk-ultra.ttf") format("truetype"),url("/fonts/telegrotesk-ultra.svg#telegrotesk-ultra") format("svg")
}








body {
  margin: 0;
  padding: 0;
  //font-size: 23px;
  font-size: 100%; // ~16px

  font-family:"TeleGrotesk";
  font-weight: 400;
}
p, h2, h3, h4 {
  color: #383838;
}

header div#teaser h2 {
  letter-spacing: 0.8px;
}


// FONTS and FONT SIZES
p, ol li {
  //font-size: 23px;
  font-size: 1.4375em;  // 23 base
  line-height: 1.39em;
  letter-spacing: 0.2px;
}
h2 {
  letter-spacing: 0.5px;
}




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  
}
main {
  width: 100%;
  max-width: auto;

}
header, main, footer {
  margin: 0 auto;
  //width: 1440px;
  
  // RESPONSIVE switch :-)
  // max-width: 1440px;
  // width: auto;
}
header {
  width: 100%;
}
main > section, header {
  // padding-left: 150px;
  // padding-right: 150px;
  //overflow: hidden;
}


/* Custom page header */
header  {
  background-image: url(/images/img_keyvisual_wide.jpg);
  //background-size: cover;
  background-size: auto 720px;
  background-position: center top;
  height: 720px;
  position: relative;
  overflow: hidden;


  > div {
    position: relative;
    height: 100%;
    > h1 {
      margin: 0;
      position: absolute;
      top: 50px;
      left: 0px;
    }
    #telekom-slogan {
      position: absolute;
      top: 74px;
      right: 0px;
    }

    nav {
      
      //width: 1140px;
      //margin-left: 10%;
      //margin-right: 10%;
      height: 56px;
      background-color: #ededed;
      border: 1px solid #d0d0d0;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      position: absolute;
      top: auto;
      bottom: 30px;
      width: 100%;
      max-width: 1140px;
      
      //width: 80%;
      //left: 50%;
      //margin-left: -570px;
      ul {
        list-style: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        
        li {
          display: inline-block;
          float: left;
          
          text-align: center;
          margin-left: auto ;
          margin-right: auto ;
          border-right: 1px solid #d0d0d0;
          width: 19.5%;
          width: calc(100% / 5);
          height: 54px;
          a {
            text-decoration: none;
            color: #4b4b4b;
            font-family: TeleGrotesk;
            font-size: 21px;
            font-weight: 400;
            line-height: 57px;
            display: block;
          }
          a:link, a:visited {
            text-decoration: none;
          }
          a:hover, a:active {
            //color: $magenta-color;
            text-decoration: none;
            color: #383838;
            background-color: #dbdbdb;
            border-color: #a0a0a0;
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
    div#teaser {
      position: absolute;
      bottom: 115px;
      left: 0px;    

       

      h2 {
        display: inline-block;
        background: url(/images/teaser-bg.png) top right no-repeat;
        font-family:"TeleGroteskScreen";
        font-weight:800;
        font-size: 44px;
        line-height: 43px;
        padding-top: 52px;
        padding-left: 28px;
        padding-right: 85px;
        padding-bottom: 43px;
        margin: 0;
        margin-top: 20px;
        max-width: 660px;
        white-space: nowrap;
        //margin-bottom: -10px;
        color: #fff;
        
        span {
          font-family:"TeleGrotesk";
          font-weight: 400;
          display: block;
          white-space: normal;
        }
      }
        
    }
  }
}


body.sticky-nav {
  header {
    //padding: 0;
    //width: 100%;
    // margin: 0;
    // padding: 0;
    // position: fixed;
    // //top: -56px;
    // top: 0px;
    // height: 56px;
    // width: 100%;
    // background: none;
    // background-color: rgba(255, 255, 255, 0.93);
    // @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
    // text-align: center;
    // h1 {
    //   position: absolute;
    //   top: 5px;
    //   left: 50%;
    //   margin-left: -569px;
    //   //padding-right: 1064px;
    //   img {
    //     width: 76px;
    //     height: 37px;
    //   }
    // }
    h1 {
      position: fixed;
      //top: 5px;
      top: -51px;
      left: 50%;
      margin-left: -569px;
      z-index: 100;
      //padding-right: 1064px;
      img {
        width: 76px;
        height: 37px;
      }
    }
    nav {

      position: fixed;
      top: -56px;
      
      right: 0;
      //width: 1140px;
      width: 100%;
      max-width: none;
      
      display: block;
      //padding-left: 120px;
      //margin-left: auto;
      //margin-right: auto;
      background: none;
      background-color: rgba(255, 255, 255, 0.93);

      //@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      //border: 1px solid red;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      //background: transparent;
      .navwrap {
        width: 100%;
      }
      ul {
        //width: 1000px;
        display: block;
        position: relative;
        text-align: center;
        max-width: 1140px;
        margin: 0 auto;
        padding-left:180px;
        
        li {
          border: none;
          
          a {
            color: #383838;
            border: none;
          }
          a:hover, a:active {
            background: none;
            color: #e20074;
          }
          a.active {
            color: #e20074;
          }
        }
        li:last-child {
          
        }
      }
    }

  }

  footer {
    border-top: 1px solid #979797;
    padding-top: 10px;
    margin-top: 50px;
    width: 1140px;
  }
}
body.home.sticky-nav {
  main {
    //margin-top: 720px;
  }
}


body.text-only {
  header {
    height: 56px;
    background: none;
    h1 {
      position: fixed;
      top: 5px;
      left: 50%;
      margin-left: -569px;
      z-index: 100;
      //padding-right: 1064px;
      img {
        width: 76px;
        height: 37px;
      }
    }
    nav {
      position: fixed;
      top: 0px;
    }
  }
}


main > section > div {
  overflow: hidden;
}

main > section > div > h1 {
  color: $magenta-color;
  
  font-size: 48px;
  font-family:"TeleGroteskScreen";
  font-weight:800;
  line-height: 51px;
  margin-top: 49px;
  letter-spacing: 0.9px;
}
main > section  h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}
main > section > div > h1 + h2 {
  margin-top: 76px;
}
main > section > div > p + h2 {
  margin-top: 75px;
}
main > section > div > .features + h2 {
  margin-top: 87px;
}
section#overview {
  padding-top: 84px;
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 16px;
  }
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 37px;
    li {
      width: 550px;
      min-height: 102px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      
      
      padding-left: 80px;
      padding-bottom: 38px;
      background-image: url(/images/checkmark.svg);
      background-repeat: no-repeat;
      background-size: 63px 58px;
      // IE hack
      *display: inline;
      _height: 102px;
      h4 {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
        padding-bottom: 14px;
      }
      p {
        margin: 0;
        //font-size: 23px;
      }
    }
    li:nth-child(odd) {
      margin-right: 32px;
    }
  }
}
main > section {
  .feature {
    padding-top: 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 278px;
    margin-bottom: 60px;
    h3 {
      margin: 0;
      color: #383838;
      font-family: TeleGrotesk;
      font-size: 26px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 18px;
      letter-spacing: 0.5px;
    }
    p {
      margin: 0;
      //font-size: 23px;
      line-height: 32px;
    }
  }
  .features {
    padding-top: 43px;
  }
  .feature.light {
    background: #fff;
  }
  .feature.dark {
    background-color: #ededed;
  }
  .feature.align-right {
    padding-left: 30px;
    img {
      float: right;
      margin-top: -21px;
      //padding-left: 20px;
      margin-left: 30px;
    }
    p {
      //padding-right: 20px;
    }
  }
  .feature.align-left {
    padding-right: 20px;
    img {
      float: left;
      margin-top: -21px;
      margin-right: 30px;
    }
  }
  .feature.legal {
    img {
      margin-top: -1px;
      margin-left: 15px;
    }
  }
  
  .feature.telekom {
    img {
      margin-top: -7px;
      margin-right: 20px;
    }
  }
  .values {
    text-align: justify;
    width: 100%;
    margin-top: 32px;
    
    > div {
      margin: 0 auto;
      max-width: 360px;
      min-height: 565px;
      width: auto;
      display: inline-block;
      vertical-align:top;
      img {
        display: inline-block;
        vertical-align: top;
      }
      h4 {
        color: $darktext;
        font-family: TeleGrotesk;
        font-size: 26px;
        font-weight: 700;
        line-height: 27px;
        margin-top: 28px;
        margin-bottom: 16px;
        letter-spacing: 0.6px;
      }
      ul {
        //margin-bottom: 100%;
        padding-left: 20px;
        li {
          list-style-type:square;
          text-align: left;
          //list-style-position: inside;
          color: $darktext;
          font-family: TeleGrotesk;
          font-size: 23px;
          font-weight: 400;
          line-height: 32px;
          margin-bottom: 30px;
          //text-indent: -5px;
          //margin-left: -5px;
          padding-right: 20px;
          //margin-left: -9px;
        }
        
        li:last-child {
          margin-bottom: 0;
        }
        
      }
    }
    
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 0;
    }
  }
  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }
}


section#airline-benefits, section#references {
  background: $bggray;
}

section#partnering-with-dt {
  background: #fff;
  #broadband-chart {
    margin-top: 40px;
    margin-bottom: 47px;
  }
  ol {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style-type: none;
    padding: 0;
    
    li::before {
      content: counter(step-counter);
      margin-right: 5px;
      font-size: 80%;
      //background-color: $magenta-color;
      padding: 2px 8px;
      background-image: url(/images/oval.svg);
      background-repeat: no-repeat;
      width: 26px;
      height: 27px;
      margin-right: 14px;
      color: white;
      font-family: TeleGroteskScreen;
      font-size: 21px;
      font-weight: 800;
      //line-height: 25px;
    }
    li {
      margin-bottom: 30px;
      counter-increment: step-counter;
      text-indent: -40px;
      padding-left: 40px;
      //padding-right: 4px;
      letter-spacing: 0.5px;
    }
  }
  .europe {
    padding-top: 60px;
    h2 {
      margin-top: 0;
    }
    p {
      padding-right: 17px;
    }
    img {
      float: left;
      margin-right: 32px;
    }
  } 
  padding-bottom: 50px;
}


section#references {
  #airlines {
    margin-top: 50px;
    li {
      display: inline-block;
      margin-right: 24px;
      margin-bottom: 30px;
    }
    li:nth-child(4n+4) {
      margin-right: 0;
    }
  }
}

section#contact {
  text-align: center;
  padding-bottom: 60px;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    color: #383838;
    margin-top: 0;
    margin-bottom: 32px;
    font-family: TeleGrotesk;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;

  }
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  div > a {
    display: inline-block;
    width: 165px;
    height: 56px;
    background-color: #e20074;
    border: 1px solid #b3005c;
    border-radius: 6px;
    color: #fff;
    line-height: 52px;
  }
}


section#news {
  article {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    h2 {
      color: #383838;
      font-family: TeleGrotesk;
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
      text-transform: uppercase;
      margin-top: 20px;
    }
    p {
      margin-bottom: 15px;
    }
  }
}


section.doc {
  margin-top: 93px;
}
section.doc.imprint {
  h1 {
    margin-bottom: 90px;
  }
  article {
    width: 550px;
    display: inline-block;
    height: 345px;
    vertical-align: top;
      zoom: 1;
    p {

    }
  }
}


/* Custom page footer */
footer {
  
  // border-top: 1px solid #979797;
  > div {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 25px;  
  }
  #meta {
    float: left;
  }
  #other-links {
    float: left;
    margin-left: 50px;
  }
  #copyright {
    float: right;
    font-size: 17px;
  }
}





// Media Queries


/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


/**
 * 16.0 Mobile InBetween 540px
 */
@media screen and (min-width: 33.75em) {
  
}

/**
 * 16.1 Mobile Large 620px
 */

@media screen and (min-width: 38.75em) {
  
}


/**
 * 16.2 Tablet Small 740px
 */

@media screen and (min-width: 46.25em) {
  
}


/**
 * 16.3 Tablet Large 880px
 */

@media screen and (min-width: 55em) {
 
}
  



/**
 * 16.4 Desktop Small 955px
 */

@media screen and (min-width: 59.6875em) {

  
}


/**
 * 16.5 Desktop Medium 1100px
 */

@media screen and (min-width: 68.75em) {
  
}


/**
 * 16.6 Desktop Large 1240px
 */

@media screen and (min-width: 77.5em) {
  header {
    > div {
      width: 1140px;
      height: 720px;
      margin: 0 auto;
    }

  }
  main {
    > section {
      padding-bottom: 12px;
      width: 100%;
      > div {
        max-width: 1140px;
        width: 1140px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
  main > section > div {
    
  }
  
  
}


/**
 * 16.7 Desktop X-Large 1403px
 */

@media screen and (min-width: 87.6875em) {
  
}


/**
 * 17.0 Print
 */

@media print {
  body {
    background: none !important; /* Brute force since user agents all print differently. */
    font-size: 11.25pt;
  }

  
}










